
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Image</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usersContainer" scope="row">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td><img class="img-fluid w-25" [src]="user.img"></td>
            <td >{{user.salary}}</td>
           
        </tr>
    
    </tbody>
</table>

<div class="container">
    <div *ngIf="usersContainer.length !=0" class="row">
        <div class="col-md-3" *ngFor="let user of usersContainer ">
            <div  class="usera mb-3">
                <img [src]="user.img" class="img-fluid m-3 text-center">
                <h3 class="p-2 bg-dark text-light text-center ml-3">{{user.name}}</h3>
                <span class="m-2 bg-warning p-2 m-2 rounded ml-3">Age:{{user.age}}</span>
                <div class="badge badge-info m-1 p-2">{{user.salary}}</div>
            </div>
        </div>
    </div>

    <h3 class="bg-danger text-center text-light rounded p-5" *ngIf="usersContainer.length ==0">No Users Data</h3>
</div>